.lesn-contact-us-section {
    text-align: center;
  
    margin: 100px;
    padding: 50px;
    border: 1px solid;
    border-radius: 4px;
  
    width: 600px;
    height: 600px;
    margin: 200px auto;
  
    position: relative;
  
    z-index: 2;
    overflow: hidden;
  }
  
  .lesn-contact-us-form-inputs {
    width: 300px;
  
    margin: 24px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid;
  
    text-align: left;
  }
  
  .lesn-contact-us-input {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
  
    margin-bottom: 10px;
  
    width: 100%;
  }
  
  .lesn-form-footer-btn {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 10px;
  }

